<nav class="px-2 navbar col-10 mx-auto navbar-expand-lg navbar-light bg-light rounded-bottom-4 mb-5">
    <a class="navbar-brand" href="{{ path('app_frontoffice_home')}}">Jc-Capsule</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNav">
      <ul class="navbar-nav w-100">
        <div class="mr-auto col-8 row">
          <li id="accueil" class="w-auto nav-item">
            <a class="nav-link" href="{{ path('app_frontoffice_home')}}">Accueil</a>
          </li>
          <li id="capsules" class="w-auto nav-item">
            <a class="nav-link" href="{{ path('app_frontoffice_caps')}}">Capsules</a>
          </li>
          <li id="contact" class="w-auto nav-item">
            <a class="nav-link" href="{{ path('app_frontoffice_contact')}}">Contact</a>
          </li>
        </div>
        {# {% if app.user %}. #}
        <div class="col-4 d-flex justify-content-end">
            <div class="border rounded-3 w-fc bg-dark me-2">
              <a class="nav-link text-white" href="{{ path('app_backoffice_home')}}">Dashboard</a>
            </div>
            <div class="border rounded-3 w-fc">
              <a class="nav-link" href="#">Déconnexion</a>
            </div>
        </div> 
        {#{% endif %} #}
          
      </ul>
    </div>
  </nav>

  {% for label, messages in app.flashes %}
    <div class="container flash-container">
      <div class="alert alert-{{ label }} col-4 mx-auto rounded">
        {% for message in messages %}
          <p class="my-0">{{ message | raw }}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% block javascripts %}
    <script>
      let path = window.location.pathname.split("/").filter(entry => entry !== "");

      document.querySelector('#' + path).classList.toggle("active");
    </script>
  {% endblock %}